@(AnimeListForm: Form[models.AnimeList], LiveInfoForm: Form[models.LiveList], username: String, info: Vector[models.DataOfLiveLists])(implicit request: RequestHeader)
@import helper._
@import helper.twitterBootstrap._

<!-- DBからリスト取得 -->

@main("Circle AL", username) {

<script type="text/javascript">
		var ws = new WebSocket("@routes.PersonalPageController.test.webSocketURL()");
		ws.onmessage = function(evt){
			$("#live_info").append(evt.data);
		}
</script>


<div class="container" style="background-color: white">
視聴中のアニメや、参加予定のライブを入力！
<br>
		<div class="row">
				<div class="span8 offset2">
						<div id="schedule">
						もっとも登録数の多いライブ予定を表示<br>
						近々の予定も表示？<br>
		## ライブスケジュール ##<br>
		xx/xx sphere 神奈川県民ホール<br>
		yy/yy idol master<br>
						</div>
				</div>
		</div>
		<br>

		<div class="row">
				<!-- 左側（メニュー） -->
				<div id="animelist" class="span2">
						<!-- インプットをdivで隠して、登録ボタンを押した時に画面中央に表示させる? -->
						<ul class="nav nav-list">
							<li class="nav-header">MenuList</li>
							<!-- <li><a href="javascript:void(0);" onclick="show_anime();return false;">アニメリスト</a></li> -->
							<li><a href="javascript:void(0);" onClick="show_live();return false;">ライブ予定</a></li>
						</ul>
				</div>

				<!-- メイン -->
				<div class="span10">
				<!--
						ライブ予定をクリックした場合はライブ予定を
						アニメリストをクリックした場合はアニメリストを表示<br>
						-->
						<div id="live_info">
						<!--
						<form class="form-inline">
						<fieldset>
							<ul id="live_info_form">
								<li>@inputText(LiveInfoForm("date"), '_label -> "Date")</li>
								<li>@inputText(LiveInfoForm("live_name"), '_label -> "live_name")</li>
								<li><input type="button" class="btn primary" value="Send" onclick="ws.send($('#date').val())"/></li>
							</ul>
						</fieldset>
						</form>
						 -->


						 <!-- TODO:チェックボックスをつけて削除出来るようにする -->
						 <!-- <legend>入力フォーム</legend> -->
						 <div align="center">
						 <a href="#formModal" class="btn btn-info" data-toggle="modal">登録フォーム表示</a>
						 </div>
						 <div id="formModal" class="modal hide fade">
							 <div class="modal-header" style="background-color: #98fb98">
							 	<a href="#" class="close" data-dismiss="modal">&times;</a>
							 	<h4>登録フォーム</h4>
							 </div>
							 <div class="modal-body" style="margin:10px">
								 <!-- <div class="form-inline"> -->
								 <form class="form-horizontal">
								 	<div class="control-group">
								 		<label class="control-label" for="date">日付</label>
								 		<div class="controls">
										 	<input type="date" name="date" id="date" value="@LiveInfoForm("date").value" placeholder="DATE" />
								 		</div>
								 	</div>
								 	<div class="control-group">
								 		<label class="control-label" for="live_name">ライブ/ツアー名</label>
								 		<div class="controls">
										 	<input type="text" name="live_name" id="live_name" value="@LiveInfoForm("live_name").value" placeholder="ライブ/ツアー名">
								 		</div>
								 	</div>
								 	<div class="control-group">
								 		<label class="control-label" for="artist">アーティスト名</label>
								 		<div class="controls">
										 	<input type="text" name="artist" id="artist" value="@LiveInfoForm("artist").value" placeholder="アーティスト名" />
								 		</div>
								 	</div>
								 	<div class="control-group">
								 		<label class="control-label" for="place">会場</label>
								 		<div class="controls">
										 	<input type="text" name="place" id="place" value="@LiveInfoForm("place").value" placeholder="会場" />
								 		</div>
								 	</div>
								 	<div class="control-group">
								 		<label class="control-label" for="comment">コメント</label>
								 		<div class="controls">
										 	<input type="text" name="comment" id="comment" value="@LiveInfoForm("comment").value" placeholder="コメント" />
								 		</div>
								 	</div>
								 </form>
							 </div>
							 <div class="modal-footer">
								 	<input type="submit" value="登録" class="btn" onclick="ws.send($('#date').val() + '<>' + $('#live_name').val() + '<>' + $('#artist').val() + '<>' + $('#place').val() + '<>' + $('#comment').val())" data-dismiss="modal">
								 <!-- </div> -->
							 </div>
						 </div>

						 <br/>

						 @if(!info.isEmpty){
				 			<blockquote style='background-color: aliceblue;'>
					 		@for(x <- info){
					 			@x._date
					 			<p><span class='badge badge-info'>ライブ/ツアー名</span> 
					 			@x._live_name
					 			<span class='badge badge-important'>アーティスト</span> 
					 			@x._artist
					 			<span class='badge badge-warning'>会場</span> 
					 			@x._place
					 			<small><span class='badge badge-success'>コメント</span>
					 			@x._comment
					 			</small></p>
					 			<!-- button userID と liveID を持たせてDBから削除する -->
					 			<div align="right">
					 				<form action="/delete" method="POST">
					 					<input type="hidden" name="_userID" value=@x._userID>
					 					<input type="hidden" name="_liveID" value=@x._liveID>
							 			<input type="submit" value=" 削 除 " class="btn btn-danger btn-small" />
						 			</form>
					 			</div>
					 			<br>
					 		}
				 			</blockquotes>
						 }

						</div>
						<div id="anime_list">
							anime_list
						</div>
				</div>
		</div>
</div>

}
